<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
	<!-- <listeners>
		<listener class-name="utilities.ExtentListener"></listener>
	</listeners> -->
  	<test name="Test">
    	<classes>
			<class name="com.numpyninja.testcases.HomePageTest"></class>
			<class name="com.numpyninja.testcases.RegistrationTest"></class>
			<class name="com.numpyninja.testcases.SignInTest"></class>
		</classes>
  	</test> 
  	<test name="Test1">
		 <classes>
			 <class name="com.numpyninja.testcases.DataStructuresPageTest"></class>
		 </classes>
	 </test>
  	
  	<test name="Test2">
		 <classes>
			 <class name="com.numpyninja.testcases.ArrayPageTest"></class>
		 </classes>
	 </test> 
  	 
	 
	<test name="Test3">
		 <classes>
			 <class name="com.numpyninja.testcases.LinkedListPageTest"></class>
		 </classes>
	 </test>
	 <test name="Test4">
		 <classes>
			 <class name="com.numpyninja.testcases.StackPageTest"></class>
		 </classes>
	 </test>
	 <test name="Test5">
		 <classes>
			 <class name="com.numpyninja.testcases.QueuePageTest"></class>
		 </classes>
	 </test>
	 <test name="Test6">
		 <classes>
			 <class name="com.numpyninja.testcases.TreePageTest"></class>
		 </classes>
	 </test>
	 <test name="Test7">
		 <classes>
			 <class name="com.numpyninja.testcases.GraphPageTest"></class>
		 </classes>
	 </test> 
	 
	 
	 
</suite> 
